.navbar {
  background-color: var(--purple);
  font-size: 1.7em;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 10000;
}
#bucket {
  background-color: transparent;
  border: transparent;
}
